/* Entry CSS */

.entryRow {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.entryHeader {
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
}

.entryHeader h3 {
  margin: 0;
}

.entrySecond,
.entryThird {
  margin-block: 0.2rem;
}

.entryThird {
  font-size: 0.8rem;
  color: var(--text-secondary);
}

.entryImg {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-top: 8px;
}

/* PDF styling */
@media print {
  .entryHeader {
    margin-top: 1rem;
  }

  .entryImg {
    width: 35px;
    height: 35px;
    margin-top: 5px;
  }
}
